<%- include('parts/head',{title:'TLINK'}); %>

    <link rel='stylesheet' href='/css/home.css' />
    
    <%- include('parts/headerHome')%>
  <body>
    <img class="banner" src="/images/home/gif/banner2.gif" alt="bn">
  <main>
<div class="selecionados">
    <h1>SELECIONADOS DAS CATEGORIAS EM DESTAQUE</h1>
</div>
<div class="titulos" >
<span class="textroupa" >Confecções</span>
<span class="textcomida" >Comidas</span>
<span class="textdoce" >Doces</span>
</div>
<div class="container">
    
     <img class="roupa" src="/public/imagens/gif/roupa.gif" alt="rou">

    <img class="comida" src="/public/imagens/gif/comida.gif" alt="com">

     <img class="doce" src="/public/imagens/gif/doce.gif" alt="doc">
       </div>
       <img class="gif" src="/public/imagens/gif/gif_desktop (1).gif" alt="gif">
<div class="sebrae">
<img class="selo" src="/public/imagens/selo.png" alt="cor">
<img class="logSeb" src="/public/imagens/sebrae_mt.png" alt="lg">
</div>

  </main>

    <%- include('parts/footer')%>
