<header>
<link rel="stylesheet" href="/css/criar2.css">
        
<nav id="nav-adm">
    <div class="log"><img class="logo" src="/images/logo.png" alt=""></div>
    <div class="texto">
        <div class="busca">
            <% buscando.forEach(<label for="site-search"> => { %>
            
              <h2>Buscar Serviços ou Produtos</h2>
            </label>
            <%= lojinha.id %></th>
            <td><%= lojinha.nome %></td>
            <td><%= lojinha.produto %></td>
            
            <input class="tela" type="search" id="site-search" name="q" aria-label="Search through site content">
      
            <button class="boton">Buscar</button>
            <% }) %>
          </div>
       
    </div>
    <ul>
    <li>Produtos</li>
    <li>Serviços</li>
    <li>Tenha UmaLojinha</li>
    <li>Cadastrar</li>
    <li>Entrar</li>
</ul>

</nav>
</header>